form {
	position:absolute;
	top: 50%;
	left: 42%;
}
body {
	background: url("background6.jpg") no-repeat fixed 0% 0%;
}
p {
	font-size: 15px;
	color:white;
	font-family: trebuchet MS, sans-serif;
	font-style: italics;
}
#credits {
	position: absolute;
	color: purple;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	font-family:helvetica,sans-serif;
}

#heading {
	position:absolute;
	color: purple;
	top: 10px;
	left: 45%;
	font-weight: bold;
	font-variant: small-caps;
}
#iitb	{
	position:absolute;
	top:0px;
	left:0px;
}
#stab	{
	position:absolute;
	top:0%;
	right:0%;
}
a {
	color:purple;
	text-decoration: none;
	font-family: arial,verdana,serif;
}
a:hover {
	color: red;
	text-decoration:none;
	font-weight:bold;
}	
#thankyou {
	position: absolute;
	top: 0%;
	left:10%;
	color:#B02020;
	font-variant: small-caps;
}
#goback {
	position: relative;
	left: 42%;
	bottom: 10%;
	color:#B02020;
	text-decoration:underline;
	font-weight:normal;
	font-variant: small-caps;
}
#goback:hover {
	text-decoration:none;
	font-weight:bold;
}	
div {
	color:#00FF80;
	font-family: helvetica,sans-serif;
	margin-left:5%;
	margin-right:5%;
	font-variant: small-caps;
}
#feedback {
	position:absolute;
	top:35%;
	left:32%;
	border-width: thick;
	border-style: groove;
	border-color: green;
	background-color: #004040;
	font-famliy: helvetica, serif;
}
#feedbackhead {
	position: absolute;
	top:10%;
	left:42%;
	color: purple;
	font-variant: small-caps;
}
